# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular lanuguages for Data Science
- List tools for Data Science
- Create a Jupyter Notebook
- Insert code and markdown cells

In [ ]:
## Author
Julia

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. Pandas

| Data Science Tools |
|:--------:|
|  RStudio  |
|  Jupyter Notebooks  |
|  JupyterLab  |

### Below are a few examples of arithmetic expressions in Python

This is a simple arithmetic expression to multiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60

In [3]:
200/60

3.3333333333333335